body {
    color: #fff;
    background-color: #1d2124;
}

.card {
    color: #fff;
    background-color: #15191c9e;
}

hr {
    border-top: 0px;
}

pre {
    color: #fff;
    background-color: #00000046;
}